/*
call/page.module.css
Ojos Project
*/
.header {
  display: flex;
  justify-content: right;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 3;
}

.video_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
