.link {
  text-decoration: none;
  color: inherit;
}

.link:visited {
  color: inherit;
}

.viewRecordings {
  color: var(--white);
  background-color: var(--dark-blue);
  padding: 8px 32px;
  border-radius: 32px;
  font-size: 1rem;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: right;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 3;
}
