/* ==========================================================================
   File:     call/page.module.css
   Purpose:  Styles the main calling page.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.header {
  display: flex;
  justify-content: right;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 3;
}

.videoMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
