.single_care_instruction {
  width: 65dvw;
  margin: 20px 0;
}

.single_care_instruction:hover {
  cursor: pointer;
}

.tap_message {
  font-size: 14px;
  color: grey;
}
/*url(http://localhost:3000/care_instructions/view/?title%3Dhello%2Bworld)*/
/*url(http://localhost:3000/care_instructions/view/?title%3DSomething%2Bdifferent)*/
