.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 500px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.yesNoButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.yesNoButtons button,
.daySelection button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #094595;
  background: white;
  color: #094595;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.yesNoButtons button.selected,
.daySelection button.selected {
  background: #094595;
  color: white;
}

.daySelection button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #094595;
  font-size: 14px;
  color: #094595;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px;
}

.daySelection button.selected {
  background-color: #094595;
  color: white;
}

.daySelection button:disabled {
  background-color: #d3d3d3;
  color: #a9a9a9;
  border-color: #d3d3d3;
}

.daySelection button:hover {
  background-color: #e0e0e0;
}

.addTimeButton {
  padding: 8px 12px;
  background: #094595;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.addTimeButton:hover {
  background: #062c5f;
  color: white;
}

.removeTimeButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 60%;
  background-color: #094595;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.removeTimeButton:hover {
  background: #094595;
  color: white;
}

.removeTimeButton:disabled {
  background: #e0e0e0;
  color: #b0b0b0;
  cursor: not-allowed;
}


.scheduleDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.daySelection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.timeSelection {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.timeSelection input,
.timeSelection select {
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 2px solid #094595;
  border-radius: 6px;
  font-size: 16px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.modalActions button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #094595;
  background: white;
  color: #094595;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modalActions button:hover {
  background: #094595;
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}


.disabledButton {
  background-color: #d3d3d3;
  color: #a9a9a9;
  cursor: not-allowed;
}