[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python3 src/main.py"
coverage = "coverage run -m pytest"
report = "coverage xml"

[packages]

[dev-packages]
pipenv = "==2023.12.1"
pytest = "==8.2.0"
coverage = "==7.5.0"
pygobject-stubs = "==2.11.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
