[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "echo 'Not configured. Please edit Pipfile.'"

[packages]
pygobject-stubs = "==2.11.0"

[dev-packages]
pipenv = "==2023.12.1"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
