[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python3 src/main.py"
coverage = "coverage run -m pytest"
report = "coverage xml"

[packages]
# ? There may be an error when installing these.
# ? Before running `pipenv install`, please install PyGObject from
# ? https://pygobject.gnome.org/getting_started.html
pycairo = "*"
pygobject = "*"

[dev-packages]
pipenv = "*"
pytest = "*"
coverage = "*"
pygobject-stubs = "*"
autopep8 = "==2.1.0"

[requires]
python_version = "3.11"
