/* ==========================================================================
   File:     care-instructions/view/page.module.css
   Purpose:  Styles a single view of a care instruction.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.careInstructionsContainer {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.buttonColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.topicsButton {
  position: fixed;
  top: 100px;
  right: 20px;
}

.lastUpdated {
  position: fixed;
  top: 180px;
  right: 20px;

  color: var(--gray);
  font-size: 15px;
}

.lastUpdatedInner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  line-height: 1px;
}

.inputContainer {
  margin: 20px 0 0 50px;
  width: 60dvw;
  overflow-wrap: anywhere;
}

.buttonSaveInstructions {
  position: fixed;
  bottom: 10%;
  right: 2%;
}

.inputCareTitle {
  width: 80%;
  height: 50px;

  margin-bottom: 35px;
  padding: 0 5px;

  border: solid #094595 2px;
  border-radius: 8px;
  font-size: 30px;
  font-weight: bold;
}

.inputCareContent {
  resize: none;
  width: 100%;
  min-height: 52dvh;
  padding: 5px;

  border: solid #094595 2px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Noto Sans", "Inter", "sans-serif", "Arial";
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's on top of other elements */
}

.modalContent {
  background: white;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  z-index: 1001; /* Higher than overlay to ensure visibility */
}
