/* ==========================================================================
   File:     onboarding.module.css
   Purpose:  Styles the entire onboarding experience.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.onboardingCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 75dvh;
}

.onboardingCenter h1 {
  font-size: 36px;
  margin: 0;
}

.onboardingCenter h3 {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

.buttonOnBottom {
  position: fixed;
  bottom: 2%;
}

.textInput {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;

  margin: 10px;

  width: 250px;
  height: 25px;

  text-align: center;
  font-size: 20px;
}
