/* ==========================================================================
   File:     resources/page.module.css
   Purpose:  Styles the Resources pages.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sticky {
  position: sticky;
  top: 15px;
  z-index: 1000;
}

.menuAndResourcesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 20px;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50dvh;
}

.notFoundText {
  font-size: 20px;

  margin: 0;
  padding: 0;
}

.notFoundIcon {
  margin: 20px;
}
