.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}

.gap {
  gap: 20px;
}

.boxShadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boxShadowSmall {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.borderRadius {
  border-radius: 5px;
}

.button {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #0000ff;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #414141;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.inputContainer {
  padding-bottom: 200px;
}

.logsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  max-height: 60vh;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
}

.logButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.logItem {
  flex: 1;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0000ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logItem:hover {
  background-color: #414141;
}

.logMeds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(33.333% - 20px);
  min-width: 250px;
  margin: 5px;
  border: 2px solid #0000ff;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  min-height: 200px;
  padding: 2px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #acacac;
  border-radius: 50%;
  margin: 10px auto;
}

.logMeds .logName,
.logMeds .logDosage,
.logMeds .logFrequency,
.logMeds .logLastTake {
  margin: 5px 0;
  text-align: center;
}

.medicationLog {
  display: flex;
  flex-wrap: wrap;
}

.medicationCard {
  width: 48%;
  margin: 1%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.medicationCard div {
  margin-bottom: 5px;
}

.medsWrap {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.searchBarContainer {
  display: flex;
  width: 100%;
  max-width: 700px;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.searchInput {
  flex: 2;
  background-color: #f9f9f9;
  color: #000000;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addMedicationButton {
  flex: 1;
  background-color: #0000ff;
  color: #ffffff;
  align-self: stretch;
  cursor: pointer;
}

.addMedicationButton:hover {
  background-color: #414141;
}

/* Responsive Design */
@media (max-width: 768px) {
  .logMeds {
    width: 100%;
    min-width: auto;
  }

  .logsContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  .medicationCard {
    width: 100%;
    margin: 5px 0;
    flex-shrink: 1;
  }

  .searchBarContainer {
    flex-direction: column;
    width: 100%;
  }

  .addMedicationButton {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
