/* ==========================================================================
   File:     medications/page.module.css
   Purpose:  Styles the Medications page.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.circle {
  width: 78px;
  height: 78px;
  background-color: var(--lm-gray);
  border-radius: 50%;
  margin: 10px auto;
}

.logButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.logMeds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(33.333% - 20px);
  min-width: 250px;
  margin: 15px;
  border: 4px solid var(--lm-dark-blue);
  border-radius: 6px;
  background-color: var(--lm-white);
  align-items: center;
  min-height: 200px;
  padding: 10px;
}

.logMeds .logName,
.logMeds .logDosage,
.logMeds .logFrequency,
.logMeds .logLastTake {
  margin: 5px 0;
  text-align: center;
}

.medsWrap {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid var(--lm-black);
  border-radius: 10px;
  background-color: var(--lm-white);
}

.searchBarContainer {
  display: flex;
  width: 100%;
  max-width: 700px;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.searchInput {
  flex: 2;
  width: 100%;
  height: 2rem;
}

@media (prefers-color-scheme: dark) {
  .logMeds {
    border: 4px solid var(--dm-dark-blue);
    background-color: var(--dm-black);
  }

  .medsWrap {
    border: 2px solid var(--dm-gray);
    background-color: var(--dm-black);
  }
}
