/* ==========================================================================
   File:     medications/view/page.module.css
   Purpose:  Styles a single med's page.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.medicineContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.brandHeader {
  text-align: center;
  margin-bottom: 20px;
  font-size: medium;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid #ddd;
  background-color: var(--lm-white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftPanel,
.rightPanel {
  padding: 20px;
}

.leftPanel {
  flex: 1;
  border-right: 1px solid #ddd;
}

.rightPanel {
  flex: 2;
}

.detailsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.detailBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: var(--lm-white);
  border: 1px solid var(--lm-white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailBox label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
  font-weight: bold;
}

.logSection {
  margin-top: 20px;
}

.logTable {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logTable table {
  width: 100%;
  border-collapse: collapse;
}

.logHeader {
  background-color: var(--lm-white);
  color: var(--lm-black);
  font-weight: bold;
}

.logTable th,
.logTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.noLog {
  text-align: "center";
  padding: "10px";
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  .leftPanel,
  .rightPanel {
    width: 100%;
    border-right: none;
  }
}

@media (prefers-color-scheme: dark) {
  .content {
    background-color: var(--dm-black);
  }

  .detailBox {
    background-color: var(--dm-black);
    border: 1px solid var(--dm-white);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }

  .logHeader {
    background-color: var(--dm-black);
    color: var(--dm-white);
  }
}
