.medicineContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: medium;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftPanel,
.rightPanel {
  padding: 20px;
}

.leftPanel {
  flex: 1;
  border-right: 1px solid #ddd;
}

.rightPanel {
  flex: 2;
}

.detailsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.detailBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailBox label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
  font-weight: bold;
}

.circleContainer {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progressCircle {
  width: 100%;
  height: 100%;
}

.circleBg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: yellow;
  stroke-width: 3.8;
  stroke-linecap: round;
  transition: stroke-dasharray 0.5s ease;
}

.percentageText {
  font-size: 5px;
  text-anchor: middle;
  fill: #000;
  font-weight: bold;
}

.logSection {
  margin-top: 20px;
}

.logTable {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logTable table {
  width: 100%;
  border-collapse: collapse;
}

.logHeader {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}

.logTable th,
.logTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Utility Classes */
.borderBox {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textCenter {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noLog {
  text-align: "center";
  padding: "10px";
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  .leftPanel,
  .rightPanel {
    width: 100%;
    border-right: none;
  }
}
