.resource_container {
  display: flex;
  flex-direction: row;

  background-color: #cbd5e0;
  width: 650px;

  border-radius: 10px;
  padding: 5px 20px;

  margin: 20px;
  animation: fadeIn 0.5s ease-in-out forwards;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.resource_container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(160, 160, 160, 0.3);
}

.category_label {
  color: grey;
}

.resource_text_content {
  flex: 4;
}

.qr_code {
  width: 150px;
  height: 150px;
  background-color: white;
  padding: 8px;
}

.qr_code_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5px;
}

.shorten_line_height {
  margin: 5px;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
