.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app:hover {
  transform: translateY(-10px);
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:visited {
  color: inherit;
}

.iconPL {
  /* background-color: slateblue; */
  background-color: var(--light-blue);
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

@keyframes slideDownAnimation {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}
