.recording {
  border: 2px solid var(--black);
  border-radius: 4px;
  display: flex;
  gap: 24px;
  height: 7.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  background-color: rgb(185, 185, 185);
  width: 25%;
  height: 100%;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.date {
  margin-bottom: 2px;
}

.times {
  margin-top: 0;
  margin-bottom: 0;
}

.duration {
  margin-top: 2px;
}
