.head {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting {
    text-align: center;
}

.iris {
    opacity: 0;
}