.head {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting {
    text-align: center;
}

.iris {
    opacity: 0;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.time time {
    text-align: right;
}

.hourMin {
    font-weight: 700;
    font-size: 1.5rem;
}

.date {
    font-weight: 600;
    font-size: 1rem;
}