/* ==========================================================================
   File:     pro/page.module.css
   Purpose:  Styles the PRO tool page.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.h1 {
  text-align: center;
  size: 10px;
}

.container2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.chartContainer {
  flex: 1; /* Allows the chart to take up more space */
}

.box {
  padding: 10px;
  border: 1mm solid var(--dark-blue);
  box-sizing: border-box;
  overflow: auto;
}

.chartNav {
  display: flex;
  justify-content: space-between;
}

.container3 {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.buttonSections {
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  gap: 20px; /* Space between button sections */
}

.container4 {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  justify-content: center;
  align-items: center;
  width: 100%;
}

#zoomContainer {
  transform: scale(1);
  transition: transform 0.3s;
  transform-origin: top left;
}
