.link {
  text-decoration: none;
  color: inherit;
}

.link:visited {
  color: inherit;
}

.recs {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  width: 80%;
}

.title {
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
}
