/* ==========================================================================
   File:     globals.css
   Purpose:  Styles the entire Iris frontend and defines global variables.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
:root {
  --black: #1c1c1c;
  --blue: #0063d7;
  --dark-blue: #094595;
  --light-blue: #83b3f3;
  --gray: grey;
  --dark-gray: #3e454d;
  --red: #b10b08;
  --light-red: #dc0f0b;
  --white: #fcfcfc;

  color: var(--black);
}

body {
  background-color: var(--white);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-blue);
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

button {
  font-size: 1rem;
  font-weight: 700;
}
