:root {
  font-family: "Noto Sans", "Inter", "sans-serif";
  --dark-blue: #094595;
  --blue: #0063d7;
  --light-blue: #83b3f3;
  --white: #fcfcfc;
  --dark-gray: #3e454d;
  --black: #1c1c1c;
  color: var(--black);
}

body {
  background-color: var(--white);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-blue);
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

button {
  font-size: 1rem;
  font-weight: 700;
}
