.appList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0;
}

.appList li:hover {
  color: var(--blue);
}

.flex {
  display: flex;
}

.side1 {
  /*width: 70%;*/
  margin: 0 1.5rem;
}

.side2 {
  background-color: white;
  width: 30%;
  min-width: 300px;
  border: 4px solid var(--dark-blue);
  border-radius: 8px;
  margin-right: 1.5rem;
}

.upcomingHeader {
  text-align: center;
}
