/* ==========================================================================
   File:     page.module.css (Root)
   Purpose:  Styles the Iris Hub page.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.toolList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0;
}

.appList li:hover {
  color: var(--blue);
}

.flex {
  display: flex;
}

.sectionTools {
  /*width: 70%;*/
  margin: 0 1.5rem;
}
