/* ==========================================================================
   File:     ConfirmLogModal.module.css
   Purpose:  Styles a popup for logging medications.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  padding: 20px;
  color: var(--black);
  border: 2px solid var(--black);
  background-color: var(--white);
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: scale 0.25s ease-out;
  animation-fill-mode: forwards;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.buttonGroup button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.buttonGroup button:first-child {
  background-color: #4caf50;
  color: var(--white);
}

.buttonGroup button:first-child:hover {
  background-color: #45a049;
  cursor: pointer;
}

.buttonGroup button:last-child {
  background-color: #f44336;
  color: var(--white);
}

.buttonGroup button:last-child:hover {
  background-color: #e53935;
  cursor: pointer;
}

@keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.commentBox {
  margin: 12px 0;
  padding: 10px;
  max-height: 100px;
  resize: none;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid var(--dark-blue);
  font: 14px;
  font-family: Arial, sans-serif;
}
