/* ==========================================================================
   File:     MedicationForm.module.css
   Purpose:  Styles the page for creating a new med.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.input {
  width: 48%;
  border-radius: 4px;
  padding: 8px;
  border-radius: 4px;
}

.pageContainer {
  background-color: var(--lm-white);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.pageContent {
  padding: 10px;
  font-family: Arial, sans-serif;
}

.pageContent h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.pageContent input,
.pageContent select {
  width: 45%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #094595;
  margin-bottom: 15px;
  font-size: 16px;
  outline: none;
}

.dosageInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.unitOptions {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border: 2px solid #094595;
  border-radius: 6px;
  padding: 4px;
  font-size: 14px;
  white-space: nowrap;
  max-width: 100%;
  transition: all 0.3s ease;
}

.unitRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.unitButton {
  padding: 8px 12px;
  background: white;
  color: var(--lm-dark-blue);
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid var(--lm-dark-blue);
  transition: all 0.3s ease;
  margin-right: 6px;
}

.unitButton:hover {
  background: #094595 !important;
  color: var(--lm-white) !important;
}

.unitButton.selected {
  background: var(--lm-dark-blue);
  color: var(--lm-white);
}

.unitButton:not(.selected) {
  background: var(--lm-white);
  color: var(--lm-dark-blue);
}

.quantityBox {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 5px;
}

.pageContent button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: var(--lm-white);
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  margin-right: 10px;
}

.pageContent .submitButton {
  background-color: var(--lm-dark-blue);
  color: var(--lm-white);
}

.pageContent .submitButton:hover {
  background-color: #062c5f;
}

.yesNoButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.textStructure {
  padding: 5px;
  font-weight: bold;
}

.yesNoButtons button,
.daySelection button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid var(--lm-dark-blue);
  background: var(--lm-white);
  color: var(--lm-dark-blue);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.yesNoButtons button.selected,
.daySelection button.selected {
  background: #094595;
  color: var(--lm-white);
}

.daySelection button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--lm-dark-blue);
  font-size: 14px;
  color: var(--lm-dark-blue);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5px;
}

.daySelection button:hover {
  background-color: #a9a9a9;
}

.addTimeButton {
  padding: 8px 12px;
  background: var(--lm-dark-blue);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.addTimeButton:hover {
  background: #062c5f;
  color: white;
}

.removeTimeButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--lm-dark-blue);
  border: 2px solid var(--lm-dark-blue);
  font-size: 14px;
  color: var(--lm-white);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.removeTimeButton:hover {
  background: var(--lm-dark-blue);
  color: var(--lm-white);
}

.scheduleDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 10px;
}

.daySelection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.timeSelection {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.timeSelection input,
.timeSelection select {
  width: 70px;
  padding: 5px;
  text-align: center;
  border: 2px solid #094595;
  border-radius: 6px;
  font-size: 16px;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.modalActions button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid var(--lm-dark-blue);
  background: white;
  color: var(--lm-dark-blue);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modalActions button:hover {
  background: var(--lm-dark-blue);
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabledButton {
  background-color: #a9a9a9;
  color: #d3d3d3;
  border-color: #a9a9a9;
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  .pageContainer {
    background-color: var(--dm-black);
  }

  .unitButton {
    color: var(--dm-dark-blue);
    border: 1px solid var(--dm-dark-blue);
  }

  .unitButton:hover {
    color: var(--dm-white) !important;
  }

  .unitButton.selected {
    background: var(--dm-dark-blue);
    color: var(--dm-white);
  }

  .unitButton:not(.selected) {
    background: var(--dm-black);
    color: var(--dm-dark-blue);
  }

  .pageContent button {
    color: var(--lm-black);
  }

  .pageContent .submitButton {
    background-color: var(--dm-dark-blue);
    color: var(--dm-white);
  }

  .yesNoButtons button,
  .daySelection button {
    border: 2px solid var(--dm-dark-blue);
    background: var(--dm-black);
    color: var(--dm-dark-blue);
  }

  .yesNoButtons button.selected,
  .daySelection button.selected {
    color: var(--dm-black);
  }

  .daySelection button {
    border: 2px solid var(--dm-dark-blue);
    color: var(--dm-dark-blue);
  }

  .addTimeButton {
    background: var(--dm-dark-blue);
  }

  .removeTimeButton {
    background-color: var(--dm-dark-blue);
    border: 2px solid var(--dm-dark-blue);
    color: var(--dm-black);
  }

  .removeTimeButton:hover {
    background: var(--dm-dark-blue);
    color: var(--dm-black);
  }

  .modalActions button {
    border: 2px solid var(--dm-dark-blue);
    color: var(--dm-dark-blue);
  }

  .modalActions button:hover {
    background: var(--dm-dark-blue);
  }
}
