/* ==========================================================================
   File:     Button.module.css
   Purpose:  Styles the Button component.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.buttonIrisPrimary {
  font-weight: bold;
  padding: 10px 25px;
  min-width: 100px;
  border-radius: 10px;
  margin: 5px;

  color: var(--lm-white);
  background-color: var(--lm-blue);
  border: solid transparent 2px;
}

.buttonIrisPrimary:hover {
  text-decoration: none;
  color: var(--lm-white);
  background-color: var(--lm-dark-blue);
  cursor: pointer;
}

.buttonIrisPrimary:disabled {
  background-color: var(--lm-gray);
}

.buttonIrisPrimary:hover:disabled {
  cursor: default;
  background-color: var(--lm-gray);
}

.buttonIrisSecondary {
  font-weight: bold;
  padding: 10px 25px;
  min-width: 100px;
  border-radius: 10px;
  margin: 5px;

  color: var(--lm-blue);
  background-color: var(--lm-white);
  border: solid var(--lm-blue) 2px;
}

.buttonIrisSecondary:hover {
  text-decoration: none;
  color: var(--lm-blue);
  cursor: pointer;
}

.buttonIrisDangerPrimary {
  font-weight: bold;
  padding: 10px 25px;
  min-width: 100px;
  border-radius: 10px;
  margin: 5px;

  color: var(--lm-white);
  background-color: var(--lm-red);
  border: solid transparent 2px;
}

.buttonIrisDangerPrimary:hover {
  text-decoration: none;
  color: var(--lm-white);
  background-color: var(--lm-light-red);
  cursor: pointer;
}

.buttonIrisDangerPrimary:disabled {
  background-color: var(--lm-gray);
}

.buttonIrisDangerPrimary:hover:disabled {
  cursor: default;
  background-color: var(--lm-gray);
}

.buttonIrisDangerSecondary {
  font-weight: bold;
  padding: 10px 25px;
  min-width: 100px;
  border-radius: 10px;
  margin: 5px;

  color: var(--lm-red);
  background-color: var(--lm-white);
  border: solid var(--lm-red) 2px;
}

.buttonIrisDangerSecondary:hover {
  text-decoration: none;
  color: var(--lm-red);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .buttonIrisPrimary {
    background-color: var(--dm-blue);
  }

  .buttonIrisPrimary:hover {
    background-color: var(--dm-dark-blue);
  }
}
