/* ==========================================================================
   File:     Button.module.css
   Purpose:  Styles the Button component.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.buttonIrisPrimary {
  font-weight: bold;
  padding: 10px 25px;
  min-width: 100px;
  border-radius: 10px;
  margin: 5px;

  color: var(--white);
  background-color: var(--blue);
  border: solid transparent 2px;
}

.buttonIrisPrimary:hover {
  text-decoration: none;
  color: var(--white);
  background-color: var(--dark-blue);
  cursor: pointer;
}

.buttonIrisPrimary:disabled {
  background-color: var(--gray);
}

.buttonIrisPrimary:hover:disabled {
  cursor: default;
  background-color: var(--gray);
}

.buttonIrisSecondary {
  font-weight: bold;
  padding: 10px 25px;
  min-width: 100px;
  border-radius: 10px;
  margin: 5px;

  color: var(--blue);
  background-color: var(--white);
  border: solid var(--blue) 2px;
}

.buttonIrisSecondary:hover {
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
}

.buttonIrisDangerPrimary {
  font-weight: bold;
  padding: 10px 25px;
  min-width: 100px;
  border-radius: 10px;
  margin: 5px;

  color: var(--white);
  background-color: var(--red);
  border: solid transparent 2px;
}

.buttonIrisDangerPrimary:hover {
  text-decoration: none;
  color: var(--white);
  background-color: var(--light-red);
  cursor: pointer;
}

.buttonIrisDangerPrimary:disabled {
  background-color: var(--gray);
}

.buttonIrisDangerPrimary:hover:disabled {
  cursor: default;
  background-color: var(--gray);
}

.buttonIrisDangerSecondary {
  font-weight: bold;
  padding: 10px 25px;
  min-width: 100px;
  border-radius: 10px;
  margin: 5px;

  color: var(--red);
  background-color: var(--white);
  border: solid var(--red) 2px;
}

.buttonIrisDangerSecondary:hover {
  text-decoration: none;
  color: var(--red);
  cursor: pointer;
}
