/* ==========================================================================
   File:     Dialog.module.css
   Purpose:  Styles the dialog.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.dialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.dialogPopup {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  text-align: center;
  animation: scale 0.25s ease-out;
  animation-fill-mode: forwards;
}

.dialogHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.dialogContent {
  margin-bottom: 20px;
}

.dialogActions {
  display: flex;
  justify-content: space-between;
}

@keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
