/* ==========================================================================
   File:     Layout.module.css
   Purpose:  Styles the Layout component.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.header {
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  margin: 20px 10px 0 10px;
}

.header div {
  width: 100px;
  min-width: 100px;
}

.header h1 {
  margin: 25px;
}
