/*
care_instructions/view/page.module.css
Ojos Project
*/
.care_instructions_container {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.button_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.topics_button {
  position: fixed;
  top: 100px;
  right: 20px;
}

.last_updated {
  position: fixed;
  top: 180px;
  right: 20px;

  color: grey;
  font-size: 15px;
}

.last_updated_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  line-height: 1px;
}

.input_container {
  margin: 20px 0 0 50px;
  width: 60dvw;
  overflow-wrap: anywhere;
}

.back_button {
  position: fixed;
  top: 2%;
  left: 2%;
}

.button_save_instructions {
  position: fixed;
  bottom: 10%;
  right: 2%;
}

.care_title {
  align-self: center;
}

.input_care_title {
  width: 80%;
  height: 50px;

  margin-bottom: 35px;
  padding: 0 5px;

  border: solid #094595 2px;
  border-radius: 8px;
  font-size: 30px;
  font-weight: bold;
}

.input_care_content {
  resize: none;
  width: 100%;
  min-height: 52dvh;
  padding: 5px;

  border: solid #094595 2px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Noto Sans", "Inter", "sans-serif";
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's on top of other elements */
}

.modal-content {
  background: white;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  z-index: 1001; /* Higher than overlay to ensure visibility */
}
