.pro_button_1 {
  border-radius: 50px;
  padding: 20px;
  width: 4.5%;
  background-color: #ffffff;
  border-color: #1d7ff0;
  color: #1d7ff0;
}

.text-align-center {
  text-align: center;
}
.container {
  justify-content: center;
}

.container-2 {
  justify-content: center;
  margin: auto;
  max-height: 100px;
  height: 100%;
}

.container-3 {
  justify-content: left;
}

.container-4 {
  text-align: left;
}

.container-space-between {
  justify-content: space-between;
  display: flex;
}

.button-content-next {
  position: fixed;
  bottom: 50px; 
  left: 70%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 8px;
  z-index: 1000;
}
.button-content-prev {
  position: fixed;
  bottom: 50px;
  transform: translateX(-50%);
  right: 55%;
  display: flex;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 8px;
  z-index: 1000;
}
.rating-wrapper {
  display: flex;
  margin: auto;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.rating-label {
  flex: 0 0 auto;
  font-size: 14px;
  margin: 0 10px;
}

.text-align-right {
  text-align: right;
}

.container-sidebyside {
  display: inline-block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  padding: 3%;
  border-radius: 8px;
  height: 60dvh;
  width: 100%;
  overflow-y: scroll;
}

.modal-content button {
  margin: 30px;
  padding: 10px;
  border-color: #1d7ff0;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  color: #1d7ff0;
  width: 200px;
  background-color: #ffffff;
}

.modal-content button:hover {
  background-color: #1d7ff0;
  color: #ffffff;
}

.survey-page {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

.survey-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 10%;
  margin-left: 10%;
}

.survey-question h4 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rating-options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 60%;
}
