/* ==========================================================================
   File:     contacts/view/page.module.css
   Purpose:  Styles the single view/edit page for a Contact.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.contactsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  z-index: 0;
}

.buttonColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.topicsButton {
  position: fixed;
  top: 5rem;
  right: 1.5rem;
}

.lastUpdated {
  position: fixed;
  top: 11rem;
  right: 1.5rem;
  color: var(--gray);
  font-size: 0.9rem;
}

.lastUpdatedInner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.2;
}

.inputContainer {
  margin: 2rem auto;
  width: 60vw;
  overflow-wrap: break-word;
}

.backButton {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
}

.saveMessage {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 128, 0, 0.9);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contactName {
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.inputFields {
  width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border: 2px solid #094595;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  z-index: 1001;
}
.buttonRow {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.required {
  color: var(--red);
  margin-left: 0.25rem;
}
