/* ==========================================================================
   File:     settings/page.module.css
   Purpose:  Styles the primary Settings page.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */

.menuAndContent {
  display: flex;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  margin: 0 3rem;
}

.bigVersion {
  font-size: 3rem;
  font-weight: bold;
  color: var(--lm-blue);
}

.sectionContainer {
  width: 100%;
  margin: 0 3rem;
}

@media (prefers-color-scheme: dark) {
  .bigVersion {
    color: var(--dm-blue);
  }
}
