/* ==========================================================================
   File:     settings/page.module.css
   Purpose:  Styles the primary Settings page.
   Authors:  Ojos Project & Iris contributors
   License:  GNU General Public License v3.0
   ========================================================================== */
.containerSettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column {
  max-width: 300px;
  margin: 20px;
}

.columnOfContainers {
  display: flex;
}

.labelRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
